
.about{

  &__row{
    margin-top: 24px;
  }
  &__article{
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
    height: 95px;
    overflow: hidden;
    letter-spacing: 0.2px;

    p {
      margin-bottom: 1.5em;
      }
  
    p:last-child {
    margin-bottom: 0em;
    }
  }

  /* Отобразить весь текст */
  &__article--show-all{
    height: fit-content !important;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 8px;
  }

  &__picture{
    height: auto;
    width: 100%;
  }
}