
.devices{

  &__container{
    width:100%;
    height: 184px;
  }

  &__list{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:nowrap;
    padding: 0;
    list-style-type: none;

    li{
      box-sizing: border-box;
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: top;
      border: 1px solid $border-color--inputs;
      border-radius: 6px;
      margin-right: 16px;
      margin-top: 16px;
      padding: 16px 16px;
      flex-basis: 240px;
      height: 160px;
      background-color: $background-color--other;
    }
  }

  &__button{
    background-color: transparent;
    border: transparent;
    padding-top: 85px;
  }

  &__all{
    display: none;
    align-items: center;
    justify-content: center;    
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 8px;
  }

  &__all::before {
    content: url('../img/icon.svg');
    position:relative;
    margin-right: 16px;
    z-index: 2;
  }

  &__header--gradient{
    width: 100vw;
    padding: 16px 0;
    margin-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: $text--other;
    background: linear-gradient(to right, $background-color--main, $background-color--other);
    border-top: 1px solid $border-color--main;  
}

  &--swiper-pagination{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    --swiper-pagination-color: $swiper-page-color;
    --swiper-pagination-bullet-inactive-color: $swiper-page-color--inactive;
    --swiper-pagination-bottom: auto;
    --swiper-pagination-bullet-size: 12px;
  }

  @media (min-width: 767px) {

    &__list{
        display: grid !important;
        grid-template-columns: repeat(3, 224px);
        justify-content: space-evenly;
        column-gap: 8px;
    }

    &__all{
        display: flex;
    }
    /* Отобразить все содержимое*/
    &__container--show-all{
        height: fit-content;
    }
  }

  @media (min-width: 1365px) {
    
    .container {
      max-width: calc(98vw - 340px);
    }

    &__list{
      display: grid !important;
      grid-template-columns: repeat(4, 240px);
      justify-content: space-evenly;
      column-gap: 16px;
    }
  }
}