
.feedback{

    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: $background-color--other;
    box-shadow: 16px 0 52px $shadow-color--first,
                -2px 0px 4px $shadow-color--second;
    transition: all 0.3s ease 0s;
    z-index: 12;
    white-space: nowrap;
    scrollbar-width: none;

    .container{
        width: 90%;
    }
    &__btn-close{
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        margin-top: 24px;
    }
    &__title::before{
        content: url('../img/highlight.svg');
        position:absolute;
        left:0px;
    }
    
    &__title{
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 24px;
    }
    
    &__inputs{
        display: flex;
        flex-direction: column;
    }
    
    input, textarea{
        padding: 12px 16px;
        margin-bottom: 16px;
        font: inherit;
        font-size: 16px;
        font-style: normal;
        color: $text--inputs;
        border: solid 1px $border-color--inputs;
        border-radius: 8px;
        resize: none;
    }
    
    &__article{
        display: inline-block;
        white-space:normal;
        font-size: 14px;
        font-style: normal;
        color: $text--other;

        span{
            color: $article-span;
        }
    }
    
    &__btn-send{
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        margin-top: 23px;
        align-self: flex-end;
    }

    &.active{
        display:flex;
    }

}
