.mask {
    display: none;
    z-index: 11;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $background-color--other;
    opacity: 96%;

    &--show {
        display: block;
    }
    
  }

