
.menu{

  &__list{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:nowrap;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none;
}

  &__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__item{
    text-decoration: none;
    margin: 0;
    color:$link--hover;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    align-self:start;
    vertical-align: center;
    border: 2px solid transparent;    
  }

  &__item:hover{
    border: 2px solid $menu-items--hover;
    border-radius: 6px;
    background-color: $background-color--other;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__item:active{
    border: 2px solid $menu-items--active;
    border-radius: 6px;
    background-color: $background-color--other;
    padding-left: 16px;
    padding-right: 16px;
  }
}