$mainBgColor: #F8F8F8;
$otherBgColor: #FFFFFF;
$borderColor:  #D9FFF5;
$fstShadowColor: rgba(14, 24, 80, 0.2);
$scndShadowColor: rgba(69, 79, 126, 0.02);
$linkHover: #7E7E82;
$text: #1B1C21;
$otherText: #7E7E82;
$textInputs:  #B5B6BC;
$borderInputs:  #EAEAEA;
$articleSpan:  #FF3E79;
$menuItemsHover: #B8FFEC;
$linkActive: #FF3E79;
$swiperPageColor: #B5B6BC;
$swiperPageInactColor:  #DDDDDD;

@font-face {
	font-family: 'TT Lakes'; 
    src: url('./fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('./fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Bold.woff') format('woff'),
        url('./fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('./fonts/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Medium.woff') format('woff'),
        url('./fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('./fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Regular.woff') format('woff'),
        url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

