$background-color--main: #F8F8F8;
$background-color--other: #FFFFFF;

$border-color--main:  #D9FFF5;
$border-color--inputs:  #EAEAEA;

$shadow-color--first: rgba(14, 24, 80, 0.2);
$shadow-color--second: rgba(69, 79, 126, 0.02);

$link--hover: #7E7E82;
$link--active: #FF3E79;

$text--main: #1B1C21;
$text--other: #7E7E82;
$text--inputs:  #B5B6BC;

$article-span:  #FF3E79;

$menu-items--hover: #B8FFEC;
$menu-items--active: #FF3E79;

$swiper-page-color: #B5B6BC;
$swiper-page-color--inactive:  #DDDDDD;
